.mainContent {
  display: flex;
  flex-direction: row;
  justify-content: center;

  position: relative;
  top: 78px;
}

.subLContent {
  display: flex;
  flex-direction: column;
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  background-color: peachpuff;
}

.subRContent {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  background-color: peachpuff;
}

.header {
  font-weight: bold;
  border-bottom: 1px solid;

  margin: 2px 2px;
  padding: 2px 2px;
  height: 20px;
}

.element {
  margin: 2px 2px;
  padding: 2px 2px;
  height: 20px;
}

.strikeText {
  text-decoration: line-through;
}

.selectedCat {
  background-color: lightgreen;
}
